/* -------- Container -------- */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: white;
}

/* -------- Current Count Section -------- */
.currentcount {
  background-color: rgb(211, 211, 211);
  padding: 20px;
  width: 950px;
  height: 600px;
  border-radius: 8px;
  text-align: center;
  margin-right: 20px;
}

.currenttitle {
  font-family: Arial, sans-serif;
  font-size: 70px;
  color: #000000;
  margin-bottom: 10px;
}

.currentvalue {
  font-family: Arial, sans-serif;
  font-size: 300px;
  font-weight: 700;
  color: #000000;
}

/* -------- Other Counts Section -------- */
.othercounts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.count {
  background-color: rgb(224, 222, 222);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 75px;
  width: 250px;
  height: 144px;
}
